argon2-cffi==18.3.0
bcrypt==3.1.4
certifi==2018.10.15
cffi==1.11.5
Django==2.0.3
django-bootstrap4==0.0.7
django-composite-foreignkey==1.1.0
django-crispy-forms==1.7.2
django-debug-toolbar==1.10.1
django-mysql==2.4.1
djangorestframework==3.6.2
gunicorn==19.9.0
isort==4.3.4
mysqlclient==1.3.13
pbr==5.1.1
Pillow==5.2.0
pipenv==2018.10.13
psycopg2==2.7.5
pycparser==2.18
pytz==2018.3
six==1.11.0
sqlparse==0.2.4
stevedore==1.30.0
virtualenv==15.1.0
virtualenv-clone==0.4.0
virtualenvwrapper==4.8.2
virtualenvwrapper-win==1.2.5
